* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background: #ddeefc;
	font-family: 'Lato', sans-serif;
}

main {
	width: 90%;
	max-width: 1000px;
	padding: 40px 20px;
	margin: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
}

/* ---------- Estilo Face Cartão----------*/
.cartao {
	width: 100%;
	max-width: px;
	position: relative;
	color: rgb(14, 13, 13);
	transition: .3s ease all;
	transform: rotateY(0deg);
	transform-style: preserve-3d;
	cursor: pointer;
	z-index: 2;
}



.cartao>div {
	padding: 30px;
	border-radius: 15px;
	min-height: 315px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	box-shadow: 0 10px 10px 0 rgba(90, 116, 148, 0.3);
}

/* ---------- Face Cartão ----------*/

.cartao .face {
	width: 100%;
	background-size: cover;
}

.face .logo-marca {
	text-align: right;
	min-height: 50px;
}

.face .logo-marca img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	max-width: 80px;
}

.face .chip {
	width: 100%;
	max-width: 50px;
	margin-bottom: 20px;
}

.face .grupo .label {
	font-size: 16px;
	color: #7d8994;
	margin-bottom: 5px;
}

.face .grupo .numero,
.face .grupo .nome,
.face .grupo .validade {
	color: rgb(17, 16, 16);
	font-size: 22px;
	text-transform: uppercase;
}

.face .flexbox {
	display: flex;
	justify-content: space-between;
	margin-top: 20px;
}

.btn-validar {
	border-top: 1px solid #96d1f8;
	background: #65a9d7;
	background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#65a9d7));
	background: -webkit-linear-gradient(top, #3e779d, #65a9d7);
	background: -moz-linear-gradient(top, #3e779d, #65a9d7);
	background: -ms-linear-gradient(top, #3e779d, #65a9d7);
	background: -o-linear-gradient(top, #3e779d, #65a9d7);
	padding: 16px 32px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	-webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
	-moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
	box-shadow: rgba(0,0,0,1) 0 1px 0;
	text-shadow: rgba(0,0,0,.4) 0 1px 0;
	color: white;
	font-size: 14px;
	font-family: Georgia, serif;
	text-decoration: none;
	vertical-align: middle;
	}
 .btn-validar:hover {
	border-top-color: #28597a;
	background: #28597a;
	color: #ccc;
	}
 .btn-validar:active {
	border-top-color: #1b435e;
	background: #1b435e;
	}

